<!-- Maven settings.xml containing profiles defining serveral remote repos and access to codehaus.org -->
<settings>
  <profiles>
    <profile>
      <id>apache</id>
      <repositories>
        <repository>
          <id>apache-snapshots</id>
          <url>http://people.apache.org/repo/m2-snapshot-repository</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <releases>
            <enabled>false</enabled>
          </releases>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>apache-snapshots</id>
          <url>http://people.apache.org/repo/m2-snapshot-repository</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <releases>
            <enabled>false</enabled>
          </releases>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <id>codehaus</id>
      <repositories>
        <repository>
          <id>codehaus-releases</id>
          <url>http://repository.codehaus.org</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <releases>
            <enabled>true</enabled>
          </releases>
        </repository>
        <repository>
          <id>codehaus-snapshots</id>
          <url>http://snapshots.repository.codehaus.org</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <releases>
            <enabled>false</enabled>
          </releases>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>codehaus-releases</id>
          <url>http://repository.codehaus.org</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <releases>
            <enabled>true</enabled>
          </releases>
        </pluginRepository>
        <pluginRepository>
          <id>codehaus-snapshots</id>
          <url>http://snapshots.repository.codehaus.org</url>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
          <releases>
            <enabled>false</enabled>
          </releases>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <id>jboss</id>
      <repositories>
        <repository>
          <id>jboss-releases</id>
          <url>http://repository.jboss.com/maven2</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <releases>
            <enabled>true</enabled>
          </releases>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>jboss-releases</id>
          <url>http://repository.jboss.com/maven2</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <releases>
            <enabled>true</enabled>
          </releases>
        </pluginRepository>
      </pluginRepositories>
    </profile>
    <profile>
      <id>openqa</id>
      <repositories>
        <repository>
          <id>openqa-releases</id>
          <url>http://nexus.openqa.org/content/repositories/releases</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <releases>
            <enabled>true</enabled>
          </releases>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>openqa-releases</id>
          <url>http://nexus.openqa.org/content/repositories/releases</url>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <releases>
            <enabled>true</enabled>
          </releases>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
  <servers>
    <server>
      <id>codehaus.org</id> 
      <!-- TODO: set your username and password -->
      <username>[username]</username>
      <password>[password]</password>
    </server>
  </servers>

</settings>

