<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>PicoContainer-Web WebWork 1 Demo</display-name>

  <context-param>
    <param-name>webapp-composer-class</param-name>
    <param-value>org.picocontainer.web.sample.webwork1.WebWork1DemoComposer</param-value>
  </context-param>

  <filter>
    <filter-name>picoFilter</filter-name>
    <filter-class>org.picocontainer.web.webwork.PicoActionFactory$ServletFilter</filter-class>
  </filter>

  <filter-mapping>
    <filter-name>picoFilter</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>

  <listener>
    <listener-class>org.picocontainer.web.webwork.WebWorkPicoServletContainerListener</listener-class>
  </listener>

  <servlet>
    <servlet-name>WebWork</servlet-name>
    <servlet-class>webwork.dispatcher.ServletDispatcher</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet>
    <servlet-name>velocity</servlet-name>
    <servlet-class>org.picocontainer.web.webwork.velocity.WebWorkVelocityServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>WebWork</servlet-name>
    <url-pattern>*.action</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>velocity</servlet-name>
    <url-pattern>*.vm</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>/cheese.action</welcome-file>
    <welcome-file>/index.html</welcome-file>
  </welcome-file-list>

</web-app>


