<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN" 
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="show_sql">false</property>
        <property name="use_outer_join">false</property>
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"/>
        <property name="connection.url">jdbc:hsqldb:.</property>
		<property name="hibernate.hbm2ddl.auto">create-drop</property>
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="cache.provider_class">org.hibernate.cache.HashtableCacheProvider</property>		
        <mapping resource="hibernate.hbm.xml"/>
    </session-factory>
</hibernate-configuration>